<div class="col-md-12">
  <h1>Edit invoice</h1>
</div>

<div class="col-md-12">
  <%= render 'shared/error_messages', :target => @invoice %>
</div>

<%= form_for @invoice do |f| %>
  <%= render 'invoices/fields', f: f %>

  <div class="col-md-12" >
    <div class="form_group" style="display: inline-block;">
      <%= f.submit 'Update', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
