<!-- add a preview overlay...-->
<%= render 'invoice' %>
<div class="preview-overlay" style="
position: absolute;
  top: 0;
  margin: 35% -180px 75%;
  font-size: 280px;
  font-weight: bold;
  color: rgba(0,0,0,0.1);
  transform: rotate(60deg);
">
  Preview
</div>
