<div class="col-md-12">
  <h1>Dropbox accounts</h1>
</div>

<div class="col-md-12">
  <p>This is a simple application to store receipts and generate invoices.</p>
  <p>
    Receipts are stored on dropbox ready for your accountant to pick up, if you want you can
    add some metadata for each receipt will will save you accountant time, and you money when
    they go to process them.
  </p>
  <p>
    Depending on what brand of phone you have will effect how you go about capturing images,
    Android phone are able to capture the preview the image in the webpage, while iPhone users
    are required to use the image capture functionality native to the phone.
  </p>
  <p>
    As images can only be upload while the user is online it is also possible to upload previously
    taken picture from te phones gallery.
  </p>
  <p>
    Invoice details are copied from the last invoice you generated to reduce the amount of data
    required. An invoice can be edited as may times as you like up until it is generated. At that
    stage it is locked down and can no longer be edited.
  </p>
</div>
