.camera-wrap {
  position: relative;
  padding-bottom: 400px;
}

.camera-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.image-preview {
  width: 100%;
  display: block;
  min-height: 40px;
}

@media (max-width: 640px) {
  // move the actions to the bottom on your phone
  .camera-actions {
    //position: fixed;
    bottom: 10px;
  }
}
