.form__currency {
}

input[type=number] {
  text-align: right;
}
.field_with_errors input,
.field_with_errors select {
  border-color: red;
}

.form_group {
  padding-top: 10px;
  padding-bottom: 10px;
}

label {
  display: block;
}

.form_control {
  width: 100%;
}

.multi-colums {
  @include media-breakpoint-up(md) {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 2;
  }

  .form_group {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid
  }
}
