.table.invoice-table {
  width: 100%;

  tr.table--header {
    th {
      background-color: #000000 !important;
    }
    background-color: #000000 !important;
    color: white;
  }

  tbody th {
    font-weight: bold;
  }

}

