@import 'bootstrap';
@import 'theme/*';

//@import 'views/*';
@import 'components/*';

@import 'select2';
@import 'select2-bootstrap';

.right-align {
  text-align: right;
}

// some custom functionality for iphones.. :(
.on-iphone {
  display: none;
}

.browser-ios .on-iphone {
  display: block;
}

.browser-ios .no-iphone {
  display: none;
}

.custom-file-control.selected::after {
  content: "" !important;
}

.custom-file-control.no-browse::before {
  content: "" !important;
  display: none;
}

.custom-file-control.no-browse {
  margin-top: -8px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.money {
  text-align: right;

  &.negative {
    color: red;
  }
}
