@import 'bootstrap';
@import 'theme/*';

//@import 'views/*';
@import 'components/*';

@import 'select2';
@import 'select2-bootstrap';

// some custom functionality for iphones.. :(
.on-iphone {
  display: none;
}

.no-iphone {
  display: inline;
}

.browser-ios .on-iphone {
  display: inline;
}

.browser-ios .no-iphone {
  display: none;
}

.custom-file-control.selected::after {
  content: "" !important;
}

.custom-file-control.no-browse::before {
  content: "" !important;
  display: none;
}

.custom-file-control.no-browse {
  margin-top: -8px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.form-inline {
  display: inline;
}

.money {
  text-align: right;

  &.negative {
    color: red;
  }
}

.sidebar .nav li a .new-link {
  color: #4f5f6f;
}

.sidebar .nav li a:hover .new-link {
  color: darken(#52BCD3, 20%);
}

.sidebar .nav li a:hover .new-link:hover {
  color: lighten(#52BCD3, 20%);
  font-weight: bolder;
}
