<div class="camera-wrap col-lg-4 col-md-6 col-sm-12">
  <div id="camera" class="camera-container"></div>
  <br>
</div>

<div class="col-md-6 camera-actions">
  <div class="camera--capture">
    <%= link_to 'Next', '', onclick: 'return false', class: 'next-stream btn btn-primary', style: 'display: none;' %>
    <%= link_to 'Capture', '', onclick: 'return false', class: 'camera-capture btn btn-primary' %>
  </div>
  <div class="camera--submit" style="display: none;">
    <%= link_to 'Retry', '', onclick: 'return false', class: 'camera-redo btn btn-primary' %>
    <%= link_to 'Submit', '', onclick: 'return false', class: 'camera-save btn btn-primary' %>
  </div>
</div>
