<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <title>Receipts</title>
  <%= csrf_meta_tags %>

  <style type="text/css">
    <%= Rails.application.assets_manifest.find_sources('application.css').first.to_s.html_safe %>

    @page {margin:15mm;}
  </style>
</head>

<body id="main-body">
  <div class="row sameheight-container">
    <%= yield %>
  </div>
</body>

